@using Clase3_Entidades
@model Herramienta

<div class="modal fade" id="editHerramientaModal" tabindex="-1" aria-labelledby="editHerramientaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="Edit" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="editHerramientaLabel">Editar Herramienta</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" asp-for="Id" />
                    <div class="mb-3">
                        <label asp-for="Nombre" class="form-label"></label>
                        <input asp-for="Nombre" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="Precio" class="form-label"></label>
                        <input asp-for="Precio" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="CantidadEnStock" class="form-label"></label>
                        <input asp-for="CantidadEnStock" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="Imagen" class="form-label"></label>
                        <input asp-for="Imagen" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>